/.idea/
/.gradle/
/gradle/
/results/
/CoverageDatabase/
/build/
/gradlew.bat
/gradlew
/orekit/
/gradle-wrapper.properties
/src/main/main.iml
/src/test/test.iml
/src/test/resources/plannerData/tenthday/
