/.idea/
/.gradle/
/gradle/
/results/
/CoverageDatabase/
/build/
/gradlew.bat
/gradlew
/orekit/
/src/main/main.iml
/src/test/test.iml
/src/test/resources/plannerData/tenthday/
/src/test/greedyPlannerOutput/*
/src/test/output/*
/src/test/resources/xplanner_requirements/
*.zip
/src/test/resources/rain/
